stats_fstat1.nii.gz stats_tfce_corrp_fstat1.nii.gz stats_tfce_corrp_tstat1.nii.gz stats_tfce_corrp_tstat2.nii.gz stats_tfce_corrp_tstat3.nii.gz stats_tfce_corrp_tstat4.nii.gz stats_tstat1.nii.gz stats_tstat2.nii.gz stats_tstat3.nii.gz stats_tstat4.nii.gz
4d.nii.gz
